{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="flex justify-center items-center h-screen ">
		<h1 class="text-5xl ">Excuses de Devs</h1>
	</div>


{% endblock %}
