{% extends 'base.html.twig' %}

{% block title %}Hello NotFoundController!
{% endblock %}

{% block body %}

	<div class="flex justify-center items-center h-screen flex-col ">
		<h1 class="text-5xl font-mono font-extrabold	 mb-5">404 : not found</h1>
		<button onclick="window.location.href='{{path('app_home')}}'" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
			<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
				Return to home
			</span>
		</button>
	</div>
{% endblock %}
